{
  "ignore": [],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ]
    },
    "production": {
      "presets": [
        "react"
      ]
    },
    "development": {
      "presets": [
        "react"
      ]
    }
  },
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}