

.divStyle {
  background-color: yellow;
}

div {
  /*border: 1px solid blue*/
}

.pairingsOuterDiv {
  display: flex;
  width: 580px;
}

.pairingsInnerDivWhite {
  width: 390px;
  display: flex;
  background-color: white;
}

.pairingsInnerDivGray {
  width: 390px;
  display: flex;
  background-color: gray;
}

.pairingsPairingLeftDiv {
  width: 170px;
  text-align: right;
  margin-right: 8px;
}

.pairingsPairingRightDiv {
  width: 170px;
  text-align: left;
  margin-right: 8px;
}

.pairingsResultSelect {
  text-align-last: center;
}

.pairingsResultDiv {
  width: 90px;
}

#crossTable > tbody > tr > td {
  min-width: 60px;
  background-color: yellow;
}

.crossTableThLeft {
  border: 2px solid black;
  text-align: right;
  font-weight: bold;
}

.crossTableThTop {
  border: 2px solid black;
  font-weight: bold;
}

.blackCell {
  background-color: black;
  color: white;
  padding: 2px;
  width: 32px;
  text-align: center;
}

.whiteCell {
  background-color: white;
  color: black;
  width: 32px;
  padding: 2px;
  text-align: center;
}

.dblCell {
  display: flex;
  border: 1px solid black;
  margin: 2px;
}

